[Unit]
Description=Universal Rest Service
After=network.target

[Service]
User=orangepi
ExecStart=/usr/local/bin/universal-rest
EnvironmentFile=/etc/universal-rest/config.conf
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target